.header{
    background-color: burlywood;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 123, 255, .2);
    font-size: 1rem;
    font-family:'Verdana', 'Geneva', 'Tahoma', sans-serif;
}

.border-none{
    border: none;
}

.profile_picture{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.login{
    color: #3c3d3e;
    text-transform: uppercase;
    font-size: 0.95rem;
}

.login:hover{
    background-color: rgb(214, 166, 103);
}

.border_1_px{
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    border-right: 1px solid rgba(43, 43, 44, 0.2);
    text-transform: capitalize;
}

.form_container{
    padding-top: 2rem;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font-size: 1rem;
}

.login_form{
    width: 30rem;
    margin: auto;
    border: 1px solid rgba(74, 74, 74, 0.2);
    border-radius: 10px;
}

.login_header{
    background-color: rgb(64, 120, 153);
    font-size: 1.1rem;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.login_form_content{
    padding: 30px;
}

.login_button{
    background-color: rgb(64, 120, 153);
    border: none;
    width: 14.74951171875rem;
}

.login_button:hover{
    background-color: rgb(83, 161, 206);
}

.login_forgot_password{
    font-size: 0.8rem;
    text-decoration: none;
}

.login_buttons{
    text-align: center;
}

.continue_with_google{
    background-color: white;
    border-color: rgb(56, 56, 56);
}

.continue_with_google:hover{
    background-color: rgb(251, 251, 251);
}

.error_message_space{
    height: 1.2rem;
    font-size: 0.8rem;
    color: #ef1e1e;
}

.dashboard_container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font-size: 1rem;
    background-color: rgb(235, 244, 249);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.device_dashboard_container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font-size: 1rem;
    background-color: rgb(235, 244, 249);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.department_button{
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
}

.department_button:hover{
    font-size: 1.2rem;
}

.content_centered{
    text-align: center;
}

.modal_add_button{
    background-color: rgb(64, 120, 153);
    border-color: rgb(64, 120, 153);
}

.modal_add_button:hover{
    background-color: rgb(83, 161, 206);
    border-color: rgb(83, 161, 206);
}

.row_extended{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.new_type_btn_container{
    padding-bottom: 1rem;
}

.add_new_type_btn{
    background-color: rgb(64, 120, 153);
    border-color: rgb(64, 120, 153);
}

.add_new_type_btn:hover{
    background-color: rgb(83, 161, 206);
    border-color: rgb(83, 161, 206);
}

.individual_device_dashboard_container{
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font-size: 1rem;
    background-color: rgb(235, 244, 249);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.top_part{
    padding-left:1rem;
    padding-right:1rem;
}

.toggle_btn_container{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.routine_setting_container{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.primary_plot_container{
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin: auto;
    width: 50%;
}

.advanced_plots_container{
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.reactive_power_plot_container{
    margin: auto;
    width: 50%;
    padding-bottom: 1rem;
}

.voltage_fluctuations_plot_container{
    margin: auto;
    width: 50%;
    padding-bottom: 1rem;
}

.power_factor_fluctuations_plot_container{
    margin: auto;
    width: 50%;
    padding-bottom: 1rem;
}

.main_energy_consumption_value_container{
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.energy_consumption_value_container{
    width: 30rem;
    margin: auto;
    margin-bottom: 1rem;
    border: 1px solid rgb(11, 88, 202);
    border-radius: 10px;

    overflow:hidden; 
    word-wrap:break-word;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    background-color: rgb(208, 226, 254);
    color: rgb(11, 88, 202);
}

/* ------------- */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4ebc1b;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4ebc1b;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }